.wsform .row {
  margin-top: 5px !important;
}

.articleTag {
  padding: 0 !important;
}

#toc .toc {
  display: none;
}

.select2-container--default .select2-selection--multiple {
  display: inline-block !important;
  min-width: 260px;
  max-width: 265px;
}